requests==2.32.3
reportlab==4.2.5
arabic-reshaper==3.0.0
python-bidi==0.4.2
matplotlib==3.7.5
openpyxl==3.1.5
ttkbootstrap==1.10.1
pywin32==306; sys_platform == 'win32'
Flask==3.0.3
paramiko==3.4.0
pytesseract==0.3.13
pymupdf==1.24.11
python-barcode==0.15.1
